<!doctype html>
<html>
<head>
<!-- Bootstrap inclusion -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<!-- Modules -->
<script src="js/app.js"></script>

<!-- Controllers -->
<script src="js/controllers/MainController.js"></script>
<link href="css/main.css" rel="stylesheet" />


</head>

<body ng-app="myApp">
	<div class="header">
		<img src="img\logo.png"
			style="width: 80px; height: 80px;&gt;
		&lt;div class="container">

		<h1>The MovieDB Search Tool</h1>
		<h2>Search for a movie!</h2>
	</div>

	<div class="main" ng-controller='MainController'>
		<div class="searchbar">
			<form ng-submit="submitFunction()">
				<input type="text" ng-model="movieTitle"
					placeholder="Search for a movie"> <input type="submit"
					value="Submit">
			</form>
			<br>
		</div>
		<div class="container">
			<p>{{results}} {{output}}</p>
			<div ng-repeat="details in movieList" class="col-md-6">
				<div class="thumbnail">
					<img
						ng-src="https://image.tmdb.org/t/p/w154{{details.poster_path}}">
					<div class="title"><p>{{ details.title }}</p></div>
					<p class="date">Release Date: {{ details.release_date | date }}</p>
					<p>{{details.overview}}</p>
				</div>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="container">
			<p>This product uses the TMDb API but is not endorsed or
				certified by TMDb.</p>
				<br>
				<p>Best Viewed in Google Chrome</p>
		</div>
	</div>



</body>
</html>
